/* start of para */
 body{
    background-color:#dbecd6;
    font-family: 'Times New Roman', Times, serif;
 }

/* team heading */
.team_heading{
    text-align: center;
    color:#4d794d;
}
.h2{
    margin-top: 120px;
    color: #739979;
}
.row4{
    margin-top: 80px;
    display: flex;
    flex-wrap: nowrap;
}

p{
    font-size: 22px;
    color: #739979;
}
.row4 img{
    width: 100%;
    height: auto;

}
.row4 .info{
    margin-left:60px;
}
/* team div */
.team_div{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.566), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* end of para */

/* start of team container */
/* team container */
/* team heading */
.team_heading{
    text-align: center;
    color: #739979;
    text-shadow: 2px 2px 5px rgba(58, 60, 103, 0.495);
}
/* team div */
.team_div{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(223, 226, 229);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* team container */
/* *{
    color: rgb(58, 60, 103);
} */
/* team heading */
.team_heading{
    text-align: center;
    color: #4d794d;
    text-shadow: 2px 2px 5px rgba(58, 60, 103, 0.495);
}
/* team div */
.team_div{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(223, 226, 229);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* team container */
.team_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* .social_icon:hover i{
    color: #4d794d;
    font-size: large;
}
.social_icon:hover{
    border-color: #4d794d;
} */
 .social_media-icon{
    font-size: large;
    border-color: #4d794d;
    display: inline-block;
    padding: 5px;
 }


.card{

    border: 1px solid #4d794d;
    background-color: #617b61;
    border-radius: 7px ;
    margin-bottom: 20px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .text{
    padding: 10px;
    padding-left:40px;
    color: #fff8da;
}
.card p{
    color: #fff8da;
    font-size: 16px;
}
.social_icon{
    border: 1px solid rgb(213, 220, 240);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-right: 7px;
}
@media  screen and (max-width:600px){
    .aim{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    justify-items: left;
    }
    .mission{
    display: flex;
    flex-wrap: wrap;
    }
    .row4.info{
        margin-left: 0px;
    }
    .row4 h3{
        text-align: center;
    }
    .container{
        width: 100%;
    }
    .row4 img{
        width: 100%;
    }
    .row4{
        margin-left: 0px;
    }
   .card{
    width: 65%;
    margin: 15px auto;
   }
   .card img{
    height: auto;
   }
   .card .text{
    padding-bottom: 10px;
   }
}
footer p{
    font-size: 16px;
}
