.container-1 img {
    width: 300px;
    height: 180px;
    float: left;
    margin-right: 15px; 
    margin-bottom: 10px;
}
body {
    background-color: #dbecd6;
    /* padding:10px 50px; */
    font-family: 'Times New Roman', Times, serif;
}
.container-1 p{
    font-size: 22px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 1px solid #b0bdab;
    border-radius: 10px;
    margin-bottom: 80px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}
.row:hover{
    box-shadow: 0 4px 8px 0 #4c655081, 0 6px 20px 0 #7ea785;
}
.container-1 h1 {
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 30px;
    color: #165d20;
}
.container-1 h3 {
    color: #5a7c5f;
}
        
.container-1 p {
    line-height:25px;
    }
button {
    background-color: #5a7c5f;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 6px;
}
       

.btn {
    display: inline-block;
    padding: 5px 10px;
    background:#5a7c5f;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
}
.issues_img {
    display: flex;
    justify-content: center;
    padding: 10px;
}
        
/* Throwing Rubbish */
    
.detail_left {
    width: 45%;
    position: relative;
    background: #5a7c5f;
    padding: 20px;
    margin-top: 35px;
    border-radius: 15px;
    text-align: center;
}
        
.detail_img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

        
h2 {
    color:#fff6d2;
}
.bookmark{
    background-color: #5a7c5f;
    padding: 7px;
    text-align: center;
    font-size: 20px;
    margin-left: 30px;
    display: fixed;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-top: 15px;
}
.bookmark a{
    color: #fff6d2;
    text-decoration: none;
    margin-left: 30px;
}
.bookmark a:hover{
    background-color: #26622e;
    padding: 5px;
    border-radius: 5px;
}
.bookmark_text {
    margin-left: 50px;
    margin-bottom: 5px;
    color: #0a4112;
    margin-right: 50px;
    height: 300px;
    overflow: auto;
}
.return button a{
    color: #fff6d2;
    text-decoration: none;
}
.return{
    margin-left: 55px;
    margin-top: 50px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a7c5f; 
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 .row{
    display: inline-block;
}
@media screen and (max-width:600px){
    .container-1 img{
        width: 100%;
        height: auto;
        padding: 0px;
        margin:auto;
        margin-left: 13px;
    }
    .info{
        text-align: left;
        margin-left: 10px;
        margin-bottom: 20px;
    }

}