*{
  font-family:' Times New Roman';  
}

body{
    background-color: #dbecd6;
}
/* start of hero section */
.hero_section{
    width: 100%;
    height: 600px;
    background-image:url(Img-folder/park6.png) ;
    background-size:cover;
    position: relative;
    margin: auto;
    margin-top: 0;
}
.text{
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    background-color: #dbecd692;
    transform: translate(-50%,-50%);
    padding: 15px 130px;
    border-radius: 10px;
}
h1{
    font-size: 46px;
    color: #09380f;
}
h4{
    color: #09380f;;
}
button{
    background-color: #5a7c5f;
    color: #fff8da;
    border-radius: 20px;
    padding: 5px 10px ;
}
/* end of hero section */
hr{
    color: #629953;
}

/* start of our feature */
.gga{
    text-align: center;
}
.container1{
    background-color: #9bba94;
    border-radius: 10px;
}
.row1,.row2{
    border: 1px none black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    

}
.row1 .card{
    border: 1px none black;
    display: flex;
    flex-wrap: wrap;
    background-color: #5a7c5f;
    border-radius: 15px;
    justify-items: center;
    margin: 20px 0px;
    padding: 20px;
    
}
.row1 .card:hover{
    box-shadow: 0 4px 8px 0 #273529, 0 6px 20px 0 rgba(0, 0, 0, 0.622);
}
.container1 .info{
    border: 1px none black;
    display: flex;
    flex-wrap: wrap;
    background-color: #bdd5b7;
    border-radius: 15px;
    justify-items: center;
    margin: 20px 0px;
    padding: 10px;
}

/* img */
div img{
    width: 100%;
    height: auto;
}
/* button */
a{
    color: #fff6d2;
    text-decoration: none;
}
button{
    border-style: none;
    border-radius: 15px;
}
.container1 button{
    margin-left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 20px;
    padding: 10px 30px;
}
p{
    color: #243a27;
}
/* end of our feature */

 /* start of general info of park */
.container{
    background-color: #9bba94;
    padding: 30px 50px;
    border-radius: 10px;
}
.container img{
    margin-left: 30px;
}
/* end of general info of park */
/* start of faq */
.faq h2{
    text-align: center;
    color: #243a27;;
}
.label1{
            background-color: #9bba94;
            padding: 15px 10px;
            display: block;
            border-radius: 10px;
            margin-top:20px;
            width: 80%;
            margin: 10px auto
            
}
#q1,#q2,#q3,#q4,#q5{
            display: none;
}
.ans1,.ans2,.ans3,.ans4,.ans5{
            background-color: rgba(80, 72, 87, 0.153);
            padding: 10px;
            display: none;
            border-radius: 10px;
            width: 80%;
            margin: 10px auto;
}

#q1:checked~.ans1,#q2:checked~.ans2{
            display: block;
}
#q3:checked~.ans3,#q4:checked~.ans4{
            display: block;
}
#q5:checked~.ans5{
            display: block;
}
/* end of faq */
@media screen and (max-width:768px){
    /* start of our job */
    .container1 .info{
    border: 1px none black;
    display: flex;
    flex-wrap: wrap;
    background-color: #bdd5b7;
    border-radius: 15px;
    justify-items: center;
    margin: 20px 0px;
    padding: 10px;
    width: 100%;

}

}
@media screen and (max-width:600px){
    .container .col-s-6{
        width: 100%;
        margin-left: 0px;
        text-align: left;
    }
}


