nav{
    background-color:#5a7c5f;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
nav ul li{
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    margin: 0px 20px;
    color: #fff6d2;
      
}
/* logo */
nav .logo{
    float: left;
    margin: 0px 30px;
}
nav .logo img{
    width: 52px;
    height: auto;
    line-height: 60px;

}
/* right side */
.right_nav{
    display: inline-block;
    position:absolute;
    left: auto;
    right: 30px;
    line-height: 30px;
}

/* check btn */
nav #check{
    display: none;
}
nav .checkbtn{
    float: right;
    font-size: 40px;
    color: #fff6d2;
    margin-right: 30px;
    display: none;
}


/* active nav item */
.active{
    /* background-color: rgb(123, 177, 132); */
    padding: 5px 10px;
    /* border-radius: 5px; */
     border-bottom: 3px solid #fff6d2;
} 

/* for small devices */
@media screen and (max-width:992px){
    .right_nav{
        position: relative;
        left: 0;right: 0;
        padding: 0;
    }
    nav .checkbtn{
        display:block;
    }
    nav ul li{
        display: block;
        margin: 20px 0px;
    }
    nav ul{
        background-color:#5a7c5f;
        text-align: center;
        padding: 30px 0px;
        width: 100%;
        position: fixed;
        top: 40px;
        left:-100%;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
