*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman';
}
body{
    background-color:  #dbecd6 ;    
}
body .container{
    margin-top: 10%;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center; 
} 
.container{
    width: 40%;
    margin: auto;
    background-color: #9bba94;
    color: #fff8da;
    border: 1px solid #5a7c5f;
    border-radius: 5px;
    padding: 30px 40px;
    margin-bottom: 100px;
}
.container h2{
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}
.container .input_box1{
    width: 450px;
    height: 50px;
    color:  #5a7c5f;
    /* background-color: #dbecd6; */
    margin: 35px 0px;
    border: 1px none #5a7c5f;
}
.container .input_box1 input{
   border: none;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0);
   border: 1px solid #5a7c5f;
   border-radius: 5px;
   padding-left: 20px;
   
}
.input_box1 input ::placeholder{
 color: #fff8da;
}
.input_box1 i{
    position: relative;
    left: 95%;
    bottom: 40px;
}
.container .remember-forgot{
    display: flex;
    justify-content: space-between;

}
.remember-forgot a{
    text-decoration: none;
    color:#fff8da;
}
.remember-forgot a:hover{
    text-decoration: none;
    color:#fff8da;
}
.container .btn{
    width: 100%;
    height: 45px;
    background-color: #dbecd6;
    color: #5a7c5f;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}
.container .btn:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn a{
    text-decoration: none;
    color: #5a7c5f;
}
.container .register{
    margin-top: 20px;
    text-align: center;
    margin: 20px;
}
.container .register p a{
    text-decoration: none;
    color: #fff8da;
}
.register a:hover{
    text-decoration: underline;
}
.end{ 
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.container3{
    margin: 0;
    display: flex;

}
 footer.col-4 h3{
    margin-top: 40px;
}